body{
    background-color: white;
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: center;

}

.nav .logo{
    /* margin-left: -10em; */
    font-size: 47px;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.nav li{
  
    margin: 0 40px;
}

.nav a{
    text-decoration: none;
    font-size: 25px;

}

.outer{
    background-color: black;
    
    height: 500px;
    width: 900px;
   
}
