body{
    background-color: rgb(24, 23, 23);
}

*{
    color: aliceblue;
    padding: 0;
    margin: 0;
    
}
.nav{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 22px;
    font-weight: 600;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-link li{
    margin: 0 20px;
    
}
.nav-link a{
    text-decoration: none;
    color: chartreuse;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-link a:hover{
    color: #f39c12;
}

.search-btn{
    display: flex;
    align-items: center;
    border: 1px solid #f39c12;
    border-radius: 4px;
    width: 44px; 
     
}

.search-btn input{
    font-size: 15px;
    border: none;
    padding: 5px 10px;
    border-radius:5px;
    color: #f39c12;
    background: transparent;
    outline: none;

}



.search-btn button{
    border: none;
    background: none;
    margin-left: 5px;
    cursor: pointer;
    color: #fff;
   font-size: 16px;
    }

